* {
  box-sizing: border-box;
}

@mixin mobile() {
  @media only screen and (max-width: 800px) {
    @content
  }
}

$color: hsl(0,0%,15%);
$color2: hsl(0,0%,10%);
$width: 120px;

body {
  min-height: 100vh;
  background: repeating-linear-gradient(45deg, $color, $color $width, $color2 0, $color2 2*$width);
}

.hide {
  display: none;
}

.load {
  @include mobile() {
    display: block!important;
  }
  position: relative;
  //text-align: center;
  font-size: 4em;
  color: hsl(230,100%,60%);
  width: 3rem;
  height: 3rem;
  margin: 1rem auto 2rem auto;
  border-radius: 50%;
  background-color: white;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

}

//@media only screen and (max-width: 850px) {
//  .list {
//    display: none!important;
//  }
//
//  .tweet-container {
//    display: block!important;
//    width: 95%;
//  }
//}


