@import "src/App";

$item-width: 450px;
$img-height: (1/2)*$item-width;

@mixin flex-fitting($max-column) {
  @for $i from 3 through $max-column {
    @media only screen and (min-width: $i * $item-width + 20px) {
      max-width: $i * $item-width;
    }
  }
}

@mixin column-adjusting($property, $value) {
  @media only screen and (max-width: 2 * $item-width) {
    #{$property}: $value * (1/2);
  }
}

.list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;

  @include flex-fitting(4);

  @include mobile() {
    display: none!important;
  }

  .card-container {
    vertical-align: top;
    padding: 10px;
    width: 100% * (1/3);
    max-width: $item-width;
    @include column-adjusting(width, 100%);
  }
}